* {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
}

.container {
  padding-right: 10px;
  max-width: none;
}

.row .column.column-0 {
  flex: 0 0 0;
  max-width: 0%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 0%;
}

.root {
  align-items: center;
  justify-content: center;
}

.website {
  height: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  position: relative;
  width: auto;
  transition-property: width;
  transition-duration: 1s;
}

.website__header {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

.website__header h1 {
  font-family: 'Source Code Pro', monospace;
  border: 2px solid #606c76;
  padding: 10px;
  display: inline-block;
  text-align: left;
  width: 50%;
  max-width: 50%;
  word-break: break-all;
  font-size: 500%;
  text-transform: uppercase;
}

.button-black {
  background-color: #b0b0b0;
  border-color: #b0b0b0;
}

.show__button {
  position: absolute;
  top: 10;
  right: 10;
  transition: all 0.3s ease-in-out;
}

.hidden {
  display: none !important;
  opacity: 0;
  width: 0;
  overflow: hidden;
}

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
  opacity: 0;
  width: 0;
}

.not-visible {
  opacity: 0;
  visibility: hidden;
}

.m-r-1 {
  margin-right: 10px !important;
}

.m-l-1 {
  margin-left: 10px !important;
}

/* ------------------------ */
